<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>联系人管理</title>
    <script type="text/javascript" src="/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.js"></script>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/vue.js"></script>
    <link href="/Content/Site.css" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/bootstrap-notify.js"></script>
    <script type="text/javascript" src="/Scripts/main.js"></script>
    <script type="text/javascript" src="/Scripts/validator.min.js"></script>
    <link rel="stylesheet" href="/Content/select2.min.css" />
    <script type="text/javascript" src="/Scripts/select2.full.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrapTreeview/js/bootstrap-treeview.js"></script>
    <script type="text/javascript" src="/scripts/bootstrapTreeview/lymiTreeView_jquery.js"></script>
    <script type="text/javascript" src="/scripts/uploadifyloader.js"></script>
    <!--    <link href="/Content/bootstrap-select2-compatible.css" rel="stylesheet" />-->
    <script>
        $(function () {
            window.vue$ = new Vue({
                el: '#app',
                data: {
                    tagName: '',
                    headerAndFooter: {},
                    datacollections: {},
                    name: '',
                    phone: '',
                    remark: '',
                    queryData: { name: '', phone: '', tagIds: [], selectedDeps: [] },
                    querySelectedDeps: [],
                    modalData: { selectedDeps: [] },
                    contactorId: ''
                },
                methods: { onRowDelete: rowDelete, on_edit: on_edit, on_delete: on_delete },
                computed: {
                    queryDNames: function () {
                        return this.querySelectedDeps.map(function (e, i) {
                            return queryTreeView.instance.treeview('getNode', e.nodeId).text;
                        });
                    }
                },
            });

            vue$.$watch('querySelectedDeps', (n, o) => {
                vue$.queryData.selectedDeps = n.map((e, i) => e.MID);
            });

            function getData() {
                $.ajax({
                    url: '/api/contactor/getcontactor',
                    traditional: true,
                    data: vue$.queryData, method: 'get', success: function (data) {
                        if (data.success) {
                            vue$.$data.datacollections = data.data;

                        } else {
                            $.notifyError(data.msg, '');
                        }
                    }
                });
            }
            window.getData = getData;
            getData();

            $.ajax({
                url: '/api/DynamicTemplate/HeaderAndFooter',
                method: 'get',
                success: function (data) {
                    vue$.$data.headerAndFooter = Object.assign({}, vue$.$data.headerAndFooter, data.data);
                }
            });

            $.ajax({
                url: '/api/tag/select2gettags',
                data: { id: null },
                method: 'get',
                success: function (data) {
                    $('#queryTagSelect').select2({ data: data.data.results });
                    $('#fuckStupidS2>.select2-container').css('width', '100%');
                    $('#fuckStupidS2>.select2-container').css('min-width', '200px');
                    $('#queryTagSelect').on('change', function (e) {
                        vue$.queryData.tagIds = $('#queryTagSelect').val();
                    });
                }
            });


            function rowDelete(id) {
                $.ajax({
                    url: '/api/tag/DeleteTag', method: 'get', data: { tagID: id }, success: function (data) {
                        if (data.success) {
                            if (data.status == 200) {
                                $.notifySuccess(data.msg, '');
                            } else if (data.status == 500) {

                            } else if (data.status == 302) {
                                window.location.href = data.data;
                            }

                            getData();
                        } else {
                            $.notifyError(data.msg, '');
                        }
                    }
                });
            }

        });
    </script>
</head>
<body>
    <div id="app">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" href="~/">{{headerAndFooter.applicationName}}</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul v-for="menu in headerAndFooter.menus" class="nav navbar-nav">
                        <li><a runat="server" v-bind:href="menu.href">{{menu.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <h1>联系人管理</h1>
            <h3></h3>
            <div class="form-inline">
                <div class="form-group">
                    <label class="control-label" for="queryName">联系人名称</label>
                    <input id="queryName" v-model="queryData.name" name="queryName" type="text" class="form-control" />
                </div>

                <div class="form-group">
                    <label class="control-label" for="queryPhone">电话</label>
                    <input class="form-control" id="queryPhone" name="queryName" v-model="queryData.phone" type="text" />
                </div>

                <div id="fuckStupidS2" class="form-group">
                    <label class="control-label" for="queryTagSelect">标签</label>
                    <select multiple="multiple" id="queryTagSelect"></select>
                </div>

                <div class="form-group">
                    <label class="control-label">
                        部门
                    </label>
                    <input type="text" v-model="queryDNames" onclick="openQueryDepModal(event)" readonly="readonly" class="form-control" />
                </div>

            </div>

            <button class="btn btn-primary" onclick="on_add(event)">添加</button>
            <button Class="btn btn-primary" onclick="getData(true)">查询</button>
            <button class="btn btn-warning" onclick="$('#uploadModal').modal('show')">导入联系人</button>
            <div style="min-height: 65vh">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>联系人名称</th>
                            <th>联系人电话</th>
                            <th>标签</th>
                            <th>部门</th>
                            <th>操作</th>
                        </tr>

                    </thead>
                    <tbody v-for="row in datacollections">
                        <tr>
                            <td>{{row.contactor.ContactorName}}</td>
                            <td>{{row.contactor.PhoneNumber}}</td>
                            <td>{{row.tags.map((e,i)=>e.TagName).join()}}</td>
                            <td>{{row.departments.map((e,i)=>e.DName).join()}}</td>
                            <td>
                                <button class="btn btn-danger" v-on:click="on_delete(row.contactor.ID)">删除</button>
                                <button class="btn btn-primary" v-on:click="on_edit(row.contactor.ID)">编辑</button>

                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>



            <hr />
            <footer>
                <p>{{headerAndFooter.footer}}</p>
            </footer>
        </div>



        <div class="modal fade" id="contactorModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">{{contactorId?'编辑':'添加'}}</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="addcontactor">
                            <div class="form-group">
                                <label for="name" class="control-label">姓名</label>
                                <input type="text" v-model="name" class="form-control" required id="name">
                                <!--                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>-->
                                <div class="hid help-block with-errors"></div>
                            </div>

                            <div class="form-group">
                                <label for="phone" class="control-label">电话</label>
                                <input type="text" maxlength="14" v-model="phone" minlength="11" class="form-control" required id="phone">
                                <!--                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>-->
                                <div class="hid help-block with-errors"></div>
                            </div>


                            <div class="form-group">
                                <label for="remark" class="control-label">备注</label>
                                <textarea class="form-control" v-model="remark" id="remark"></textarea>
                            </div>

                            <div class="form-group">
                                <label for="tagSelect" class="control-label">标签</label>
                                <select class="form-control" style="width: 100%" id="tagSelect" multiple="multiple" name="tagSelect"></select>
                            </div>

                            <div class="form-group">
                                <h3 class="treetitle">选择部门</h3>
                                <input type="text" class="form-control" onchange="modalTreeView.treeOnSearch(event)" onkeydown="modalTreeView.searchOnKeypress(event)" />
                                <div id="modalDepartmentTreeView" style="max-height: 400px; overflow-x: hidden; overflow-y: scroll;"></div>
                                <div style="text-align: center; height: 60px; margin-top: 10px;" class="loadimg-div">
                                    <img src="/Content/Images/loading.gif" style="width: 30px;" class="loadimg" />
                                </div>
                            </div>



                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" onclick="$('#addcontactor').submit()" class="btn btn-primary">Send message</button>
                    </div>
                </div>
            </div>
        </div>




        <div class="modal fade" id="departemntModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="">选择部门</h4>
                    </div>
                    <div class="modal-body">
                        <h3 class="treetitle">选择部门</h3>
                        <input type="text" class="form-control" onchange="queryTreeView.treeOnSearch(event)" onkeydown="modalTreeView.searchOnKeypress(event)" />
                        <div id="queryDepartmentTreeView" style="max-height: 400px; overflow-x: hidden; overflow-y: scroll;"></div>
                        <div style="text-align: center; height: 60px; margin-top: 10px;" class="loadimg-div">
                            <img src="/Content/Images/loading.gif" style="width: 30px;" class="loadimg" />
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <!--                        <button type="button" onclick="modalConfirm(event)" class="btn btn-success">确认</button>-->
                    </div>
                </div>
            </div>
        </div>


        <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <input type="file" name="file_upload" id="file_upload1" />
                    <div id="queue" style="max-height: 350px; width: 500px; overflow: hidden; overflow-y: auto;"></div>

                    <div id="file_upload2"></div>
                </div>
            </div>
        </div>
    </div>











    <script type="text/javascript">


        $(function () {
            var validator1 = $('#addcontactor').validator().
                on('submit', function (e) {
                    if (!e.isDefaultPrevented()) {
                        //submit to controller
                        if (vue$.contactorId) {
                            $.ajax({
                                url: '/api/contactor/updatecontactor',
                                method: 'get',
                                traditional: true,
                                data: {
                                    id: vue$.contactorId,
                                    phone: vue$.phone,
                                    name: vue$.name,
                                    remark: vue$.remark,
                                    tagIds: $('#tagSelect').val(),
                                    selectedDeps: vue$.modalData.selectedDeps.map((me, mi) => me.MID),
                                },
                                success: function (data) {
                                    if (data.success) {
                                        $.notifySuccess(data.msg);
                                        getData();
                                    } else {
                                        $.notifyError(data.msg);
                                    }
                                }
                            });
                        } else {
                            $.ajax({
                                traditional: true,
                                url: '/api/contactor/addcontactor',
                                method: 'get',
                                data: {

                                    phone: vue$.phone,
                                    name: vue$.name,
                                    remark: vue$.remark,
                                    tagIds: $('#tagSelect').val(),
                                    selectedDeps: vue$.modalData.selectedDeps.map((me, mi) => me.MID),

                                },
                                success: function (data) {
                                    if (data.success) {
                                        $.notifySuccess(data.msg);
                                        getData();
                                    } else {
                                        $.notifyError(data.msg);
                                    }
                                }
                            });
                        }
                    }
                    console.log('prevented');
                    e.preventDefault();
                });
        });


        function on_add(event) {
            vue$.contactorId = '';

            initTagSelect2('');

            modalTreeView.clearSelection();



            $('#contactorModal').modal('show');

        }

        function on_edit(contactorId) {
            if (vue$.contactorId != contactorId) {
                vue$.contactorId = contactorId;
                $.ajax({
                    url: '/api/contactor/GetcontactorDetail', type: 'get', data: { id: contactorId }
                    , success: function (data) {
                        if (data.success) {
                            vue$.name = data.data.contactor.ContactorName;
                            vue$.phone = data.data.contactor.PhoneNumber;
                            vue$.remark = data.data.contactor.Remark;
                            initTagSelect2(contactorId);
                            modalTreeView.clearSelection();

                            modalTreeView.selectNodes(data.data.depIds);



                            $('#contactorModal').modal('show');
                        } else {
                            $.notifyError(data.msg, '');
                        }
                    }
                }
                );
            } else {

                $('#contactorModal').modal('show');
            }


        }

        function on_delete(contactorId) {
            $.ajax({
                traditional: true,
                url: '/api/contactor/deletecontactor', method: 'get', data: { id: contactorId }, success: function (data) {
                    if (data.success) {
                        $.notifySuccess(data.msg);
                        getData();
                    } else {
                        $.notifyError(data.msg);
                    }
                }
            });
        }

        function initTagSelect2(contactorId) {

            if ($('#tagSelect').hasClass("select2-hidden-accessible")) {
                // Select2 has been initialized
                $('#tagSelect').val(null);
                $('#tagSelect').trigger('change');
                $('#tagSelect').select2('destroy');

            }
            $.ajax({
                traditional: true,
                url: '/api/tag/Select2GetTags', method: 'get', data: { id: contactorId }, success: function (data) {
                    //                    $('#tagSelect').val(null);
                    //                    $('#tagSelect').trigger('change');


                    if (data.success) {

                        $('#tagSelect').select2({
                            data: data.data.results,
                           
                        });
                        setTimeout(function () {
                            //                            console.log($('#tagSelect').hasClass("select2-hidden-accessible"));
                            var selecteds = data.data.results.filter((e, i) => { return e.selected; });
                            var selectedIds = selecteds.map((e, i) => e.id);
                            //                            console.log('set values:' + selectedIds);
                            $('#tagSelect').val(selectedIds);
                            $('#tagSelect').trigger('change');
                        }, 300);
                        //                        console.log(data);

                    } else {
                        $.notifyError(data.msg);
                    }
                }
            });
        }

        function openQueryDepModal() {
            $('#departemntModal').modal('show');
        }

        var modalTreeView = $.lymiTreeSelector({
            treeviewID: 'modalDepartmentTreeView',
            treeviewOptions: { color: '#4280cd' },
            requestUrl: '/api/Department/GetDepartmentTreeData',
            multiSelect: true,
            onClientSelected: function (data) {
                vue$.modalData.selectedDeps = data;
            }
        });

        var queryTreeView = $.lymiTreeSelector({
            treeviewID: 'queryDepartmentTreeView',
            treeviewOptions: { multiSelect: true, color: '#4280cd' },
            requestUrl: '/api/Department/GetDepartmentTreeData',
            multiSelect: true,
            onClientSelected: function (data) {

                vue$.querySelectedDeps = data;
            }
        });


    </script>

</body>
</html>