<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>模板</title>

    <script type="text/javascript" src="/Scripts/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.js"></script>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/vue.js"></script>
    <link href="/Content/Site.css" rel="stylesheet" />
    <script type="text/javascript" src="/Scripts/validator.min.js"></script>

    <script type="text/javascript" src="/Scripts/bootstrap-notify.js"></script>
    <script type="text/javascript" src="/Scripts/main.js"></script>
    <script>
        $(function () {
            window.vue$ = new Vue({
                el: '#app',
                data: {
                    tagName: ''
                    , headerAndFooter: {}
                    , datacollections: {}
                    , updateData: { TagName: '', ID: '' }
                },

                methods: { onRowDelete: rowDelete,on_edit:on_edit },

            });

            vue$.$watch('updateData.ID', function (nv, ov) {
                if (nv) {
              
                    var data = vue$.datacollections.find((e, i) => e.id == nv);
                    console.log(data);
                    vue$.$data.updateData.TagName = data.name;
                    console.log(vue$.$data);

                }
            });


            function getData(query) {
                $.ajax({
                    url: '/api/Tag/GetTags', data: query ? { tagName: vue$.tagName } : {}, method: 'get', success: function (data) {
                        vue$.$data.datacollections = data.data;
                    }
                });
            }
            window.getData = getData;
            getData();



            $.ajax({
                url: '/api/DynamicTemplate/HeaderAndFooter',
                method: 'get',
                success: function (data) {
                    vue$.$data.headerAndFooter = Object.assign({}, vue$.$data.headerAndFooter, data.data);
                }
            });


            function rowDelete(id) {
                $.ajax({
                    url: '/api/tag/DeleteTag', method: 'get', data: { tagID: id }, success: function (data) {
                        if (data.success) {
                            if (data.status == 200) {
                                $.notifySuccess(data.msg, '');
                            } else if (data.status == 500) {

                            } else if (data.status == 302) {
                                window.location.href = data.data;
                            }

                            getData();
                        } else {
                            $.notifyError(data.msg, '');
                        }
                    }
                });
            }

        });
    </script>
</head>
<body>
    <div id="app">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" runat="server" href="~/">{{headerAndFooter.applicationName}}</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul v-for="menu in headerAndFooter.menus" class="nav navbar-nav">
                        <li><a runat="server" v-bind:href="menu.href">{{menu.name}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container body-content">
            <h1>标签管理</h1>
            <h3></h3>
            <div class="form">
                <div class="form-group">
                    <label>标签名称</label>
                    <input id="txt_tagName" v-model="tagName" name="txt_tagName" type="text" class="form-control" />
                </div>
            </div>
            <!--            <asp:Button ID="btn_submit" ClientIDMode="static" OnClick="on_submit" UseSubmitBehavior="False" CssClass="btn btn-primary" Text="添加" runat="server" />-->
            <!--            <asp:Button ID="btn_query" ClientIDMode="static" OnClick="btn_query_OnClick" UseSubmitBehavior="False" CssClass="btn btn-primary" Text="查询" runat="server" />-->
            <button Class="btn btn-success" onclick="on_add(event)">添加</button>
            <button Class="btn btn-primary" onclick="getData(true)">查询</button>
            <div style="min-height: 65vh">
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                        <tr>
                            <th>标签名称</th>
                            <th>用户数量</th>
                            <th>操作</th>
                        </tr>

                    </thead>
                    <tbody v-for="row in datacollections">
                        <tr>
                            <td>{{row.name}}</td>
                            <td>{{row.count}}</td>
                            <td>
                                <button class="btn btn-danger" v-on:click="onRowDelete(row.id)">删除</button>
                                <button class="btn btn-primary" v-on:click="on_edit(row.id)">编辑</button>
                            </td>

                        </tr>
                    </tbody>
                </table>

            </div>



            <hr />
            <footer>
                <p>{{headerAndFooter.footer}}</p>
            </footer>
        </div>




        <div class="modal fade" id="udpateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="exampleModalLabel">{{updateData.ID?'编辑':'添加'}}</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="addcontactor">
                            <div class="form-group">
                                <label for="name" class="control-label">标签名称</label>
                                <input type="text" v-model="updateData.TagName" class="form-control" required id="tagName">
                                <!--                            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>-->
                                <div class="hid help-block with-errors"></div>
                            </div>




                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <button type="button" onclick="$('#addcontactor').submit()" class="btn btn-primary">Send message</button>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <script>
        $(function() {
            var validator1 = $('#addcontactor').validator().on('submit', function(e) {
          
                if (!e.isDefaultPrevented()) {
                    if (vue$.updateData.ID) {
                        $.ajax({
                            url: '/api/tag/updatetag', data: vue$.updateData, type: 'get'
                            , success: function(data) {
                                if (data.success) {
                                    getData(true);
                                    $.notifySuccess(data.msg,'');
                                } else {
                                    $.notifyError(data.msg, '');
                                }
                            },error: function(data) {
                                $.notifyError(data, '');
                            }
                        });
                    }
                }
                e.preventDefault();
            });
        });
        

        function on_add() {
            $.ajax({
                url: '/api/tag/addtag', method: 'get', data: { tagName: vue$.tagName }, success: function (data) {
                    if (data.success) {
                        $.notifySuccess('<h6>' + data.msg + '</h6>', '');
                        getData();
                    } else {
                        $.notifyError('<h6>' + data.msg + '</h6>', '');
                    }
                }
            });

        }

        function on_edit(id) {
            vue$.updateData.ID = id;

            $('#udpateModal').modal('show');

        }


    </script>

</body>
</html>