<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="default" connectionString="Data Source=121.199.37.76;User ID=cloudedu;Password=TJ+-*w7a801;Persist Security Info=true;Initial Catalog=SYDX_SMSPlatform" />
<!--    <add name="default" connectionString="Data Source=USER-20160921SV\SQLEXPRESS;User ID=sa;Password=axyxyyyy41;Persist Security Info=true;Initial Catalog=SYDX_SMSPlatform" />-->

  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <log4net>

    <root>
      <level value="ALL" />
      <appender-ref ref="LogFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </root>

    <logger name="Logger">
      <level value="ALL" />
      <appender ref="ConsoleAppender" />
      <appender ref="LogFileAppender" />
    </logger>


    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender,log4net">

      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <param name="File" value="Log/" />
      <param name="AppendToFile" value="true" />

      <param name="MaxSizeRollBackups" value="-1" />
      <param name="MaximumFileSize" value="50MB" />

      <param name="RollingStyle" value="Composite" />
      <param name="DatePattern" value="&quot;Logs_&quot;yyyyMMdd&quot;.txt&quot;" />
      <param name="StaticLogFileName" value="false" />
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="Header" value="                          ———————application startup—————————-                          " />
        <param name="Footer" value="                          ———————-application shutdown————————–                          " />
        <param name="ConversionPattern" value="%d [%t] %-5p %c – (%line) %m%n" />
      </layout>

      <filter type="log4net.Filter.LevelRangeFilter">
        <param name="LevelMin" value="ALL" />
        <param name="LevelMax" value="OFF" />
      </filter>
    </appender>


    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender,log4net">
      <layout type="log4net.Layout.PatternLayout,log4net">
        <param name="ConversionPattern" value="%d [%t] %-5p %c – (%line) %m%n" />
      </layout>
    </appender>

  </log4net>


</configuration>
